name: itravex-integration

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_worker
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    command: php artisan queue:work --queue=default --sleep=1 --tries=3
    restart: unless-stopped  

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: itravex
      MYSQL_ROOT_PASSWORD: "Portu628."
      MYSQL_USER: app
      MYSQL_PASSWORD: "Portu628."
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: pma
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql_db
      PMA_USER: root
      PMA_PASSWORD: "Portu628."
    depends_on:
      - mysql

  db-backup:
    build:
      context: .
      dockerfile: Dockerfile.backup
    environment:
      TZ: Atlantic/Canary
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: backup
      DB_PASSWORD: "BackUp!2025"
      DB_NAME: "itravex itravex2"
      SCHEDULE: "0 10 * * *"
      RETENTION_DAYS: 7
    volumes:
      - ./backups:/backups
    command: >
      sh -lc "echo \"$$SCHEDULE /usr/local/bin/backup.sh >> /var/log/cron.log 2>&1\" > /etc/crontabs/root && crond -f -l 8"
    restart: unless-stopped
    depends_on:
      - mysql

volumes:
  dbdata:
    external: true
    name: itravex-integration_dbdata
